/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.b-spin {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  display: none;
  color: #1890ff;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.b-spin-spinning {
  position: static;
  display: inline-block;
  opacity: 1;
}
.b-spin-nested-loading {
  position: relative;
}
.b-spin-nested-loading > div > .b-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 400px;
}
.b-spin-nested-loading > div > .b-spin .b-spin-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px;
}
.b-spin-nested-loading > div > .b-spin .b-spin-text {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-top: 5px;
  text-shadow: 0 1px 2px #fff;
}
.b-spin-nested-loading > div > .b-spin.b-spin-show-text .b-spin-dot {
  margin-top: -20px;
}
.b-spin-nested-loading > div > .b-spin-sm .b-spin-dot {
  margin: -7px;
}
.b-spin-nested-loading > div > .b-spin-sm .b-spin-text {
  padding-top: 2px;
}
.b-spin-nested-loading > div > .b-spin-sm.b-spin-show-text .b-spin-dot {
  margin-top: -17px;
}
.b-spin-nested-loading > div > .b-spin-lg .b-spin-dot {
  margin: -16px;
}
.b-spin-nested-loading > div > .b-spin-lg .b-spin-text {
  padding-top: 11px;
}
.b-spin-nested-loading > div > .b-spin-lg.b-spin-show-text .b-spin-dot {
  margin-top: -26px;
}
.b-spin-container {
  position: relative;
  transition: opacity 0.3s;
}
.b-spin-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none \9;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transition: all 0.3s;
  content: '';
  pointer-events: none;
}
.b-spin-blur {
  clear: both;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.b-spin-blur::after {
  opacity: 0.4;
  pointer-events: auto;
}
.b-spin-tip {
  color: rgba(0, 0, 0, 0.45);
}
.b-spin-dot {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 1em;
  height: 1em;
}
.b-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #1890ff;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
}
.b-spin-dot-item:nth-child(1) {
  top: 0;
  left: 0;
}
.b-spin-dot-item:nth-child(2) {
  top: 0;
  right: 0;
  animation-delay: 0.4s;
}
.b-spin-dot-item:nth-child(3) {
  right: 0;
  bottom: 0;
  animation-delay: 0.8s;
}
.b-spin-dot-item:nth-child(4) {
  bottom: 0;
  left: 0;
  animation-delay: 1.2s;
}
.b-spin-dot-spin {
  transform: rotate(45deg);
  animation: antRotate 1.2s infinite linear;
}
.b-spin-sm .b-spin-dot {
  font-size: 14px;
}
.b-spin-sm .b-spin-dot i {
  width: 6px;
  height: 6px;
}
.b-spin-lg .b-spin-dot {
  font-size: 32px;
}
.b-spin-lg .b-spin-dot i {
  width: 14px;
  height: 14px;
}
.b-spin.b-spin-show-text .b-spin-text {
  display: block;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  .b-spin-blur {
    background: #fff;
    opacity: 0.5;
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
.b-spin-rtl {
  direction: rtl;
}
.b-spin-rtl .b-spin-dot-spin {
  transform: rotate(-45deg);
  animation-name: antRotateRtl;
}
@keyframes antRotateRtl {
  to {
    transform: rotate(-405deg);
  }
}
