/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.b-table.b-table-middle {
  font-size: 14px;
}
.b-table.b-table-middle .b-table-title,
.b-table.b-table-middle .b-table-footer,
.b-table.b-table-middle .b-table-thead > tr > th,
.b-table.b-table-middle .b-table-tbody > tr > td,
.b-table.b-table-middle tfoot > tr > th,
.b-table.b-table-middle tfoot > tr > td {
  padding: 12px 8px;
}
.b-table.b-table-middle .b-table-filter-trigger {
  margin-right: -4px;
}
.b-table.b-table-middle .b-table-expanded-row-fixed {
  margin: -12px -8px;
}
.b-table.b-table-middle .b-table-tbody .b-table-wrapper:only-child .b-table {
  margin: -12px -8px -12px 25px;
}
.b-table.b-table-small {
  font-size: 14px;
}
.b-table.b-table-small .b-table-title,
.b-table.b-table-small .b-table-footer,
.b-table.b-table-small .b-table-thead > tr > th,
.b-table.b-table-small .b-table-tbody > tr > td,
.b-table.b-table-small tfoot > tr > th,
.b-table.b-table-small tfoot > tr > td {
  padding: 8px 8px;
}
.b-table.b-table-small .b-table-filter-trigger {
  margin-right: -4px;
}
.b-table.b-table-small .b-table-expanded-row-fixed {
  margin: -8px -8px;
}
.b-table.b-table-small .b-table-tbody .b-table-wrapper:only-child .b-table {
  margin: -8px -8px -8px 25px;
}
.b-table-small .b-table-thead > tr > th {
  background-color: #fafafa;
}
.b-table-small .b-table-selection-column {
  width: 46px;
  min-width: 46px;
}
.b-table.b-table-bordered > .b-table-title {
  border: 1px solid #f0f0f0;
  border-bottom: 0;
}
.b-table.b-table-bordered > .b-table-container {
  border-left: 1px solid #f0f0f0;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > thead > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > thead > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > thead > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > thead > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tbody > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tbody > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tbody > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tbody > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tfoot > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tfoot > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tfoot > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tfoot > tr > th,
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tfoot > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tfoot > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tfoot > tr > td,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tfoot > tr > td {
  border-right: 1px solid #f0f0f0;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > thead > tr:not(:last-child) > th,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > thead > tr:not(:last-child) > th,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > thead > tr:not(:last-child) > th,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > thead > tr:not(:last-child) > th {
  border-bottom: 1px solid #f0f0f0;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > thead > tr > th::before,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > thead > tr > th::before,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > thead > tr > th::before,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > thead > tr > th::before {
  background-color: transparent !important;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > thead > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > thead > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > thead > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > thead > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tbody > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tbody > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tbody > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tbody > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tfoot > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tfoot > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tfoot > tr > .b-table-cell-fix-right-first::after,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tfoot > tr > .b-table-cell-fix-right-first::after {
  border-right: 1px solid #f0f0f0;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tbody > tr > td > .b-table-expanded-row-fixed,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tbody > tr > td > .b-table-expanded-row-fixed,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tbody > tr > td > .b-table-expanded-row-fixed,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tbody > tr > td > .b-table-expanded-row-fixed {
  margin: -16px -17px;
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table > tbody > tr > td > .b-table-expanded-row-fixed::after,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table > tbody > tr > td > .b-table-expanded-row-fixed::after,
.b-table.b-table-bordered > .b-table-container > .b-table-body > table > tbody > tr > td > .b-table-expanded-row-fixed::after,
.b-table.b-table-bordered > .b-table-container > .b-table-summary > table > tbody > tr > td > .b-table-expanded-row-fixed::after {
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  border-right: 1px solid #f0f0f0;
  content: '';
}
.b-table.b-table-bordered > .b-table-container > .b-table-content > table,
.b-table.b-table-bordered > .b-table-container > .b-table-header > table {
  border-top: 1px solid #f0f0f0;
}
.b-table.b-table-bordered.b-table-scroll-horizontal > .b-table-container > .b-table-body > table > tbody > tr.b-table-expanded-row > td,
.b-table.b-table-bordered.b-table-scroll-horizontal > .b-table-container > .b-table-body > table > tbody > tr.b-table-placeholder > td {
  border-right: 0;
}
.b-table.b-table-bordered.b-table-middle > .b-table-container > .b-table-content > table > tbody > tr > td > .b-table-expanded-row-fixed,
.b-table.b-table-bordered.b-table-middle > .b-table-container > .b-table-body > table > tbody > tr > td > .b-table-expanded-row-fixed {
  margin: -12px -9px;
}
.b-table.b-table-bordered.b-table-small > .b-table-container > .b-table-content > table > tbody > tr > td > .b-table-expanded-row-fixed,
.b-table.b-table-bordered.b-table-small > .b-table-container > .b-table-body > table > tbody > tr > td > .b-table-expanded-row-fixed {
  margin: -8px -9px;
}
.b-table.b-table-bordered > .b-table-footer {
  border: 1px solid #f0f0f0;
  border-top: 0;
}
.b-table-cell .b-table-container:first-child {
  border-top: 0;
}
.b-table-cell-scrollbar {
  box-shadow: 0 1px 0 1px #fafafa;
}
.b-table-resize-handle {
  position: absolute;
  top: 0;
  height: 100% !important;
  bottom: 0;
  left: auto !important;
  right: -8px;
  cursor: col-resize;
  touch-action: none;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
  width: 16px;
  z-index: 1;
}
.b-table-resize-handle-line {
  display: block;
  width: 1px;
  margin-left: 7px;
  height: 100% !important;
  background-color: #1890ff;
  opacity: 0;
}
.b-table-resize-handle:hover .b-table-resize-handle-line {
  opacity: 1;
}
.b-table-resize-handle.dragging {
  overflow: hidden;
}
.b-table-resize-handle.dragging .b-table-resize-handle-line {
  opacity: 1;
}
.b-table-resize-handle.dragging:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  content: ' ';
  width: 200vw;
  transform: translateX(-50%);
  opacity: 0;
}
.b-table-wrapper {
  clear: both;
  max-width: 100%;
}
.b-table-wrapper::before {
  display: table;
  content: '';
}
.b-table-wrapper::after {
  display: table;
  clear: both;
  content: '';
}
.b-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
}
.b-table table {
  width: 100%;
  text-align: left;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}
.b-table-thead > tr > th,
.b-table-tbody > tr > td,
.b-table tfoot > tr > th,
.b-table tfoot > tr > td {
  position: relative;
  padding: 16px 16px;
  overflow-wrap: break-word;
}
.b-table-cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.b-table-cell-ellipsis.b-table-cell-fix-left-last,
.b-table-cell-ellipsis.b-table-cell-fix-right-first {
  overflow: visible;
}
.b-table-cell-ellipsis.b-table-cell-fix-left-last .b-table-cell-content,
.b-table-cell-ellipsis.b-table-cell-fix-right-first .b-table-cell-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-table-cell-ellipsis .b-table-column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.b-table-title {
  padding: 16px 16px;
}
.b-table-footer {
  padding: 16px 16px;
  color: rgba(0, 0, 0, 0.85);
  background: #fafafa;
}
.b-table-thead > tr > th {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.3s ease;
}
.b-table-thead > tr > th[colspan]:not([colspan='1']) {
  text-align: center;
}
.b-table-thead > tr > th:not(:last-child):not(.b-table-selection-column):not(.b-table-row-expand-icon-cell):not([colspan])::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}
.b-table-thead > tr:not(:last-child) > th[colspan] {
  border-bottom: 0;
}
.b-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.3s;
}
.b-table-tbody > tr > td > .b-table-wrapper:only-child .b-table,
.b-table-tbody > tr > td > .b-table-expanded-row-fixed > .b-table-wrapper:only-child .b-table {
  margin: -16px -16px -16px 33px;
}
.b-table-tbody > tr > td > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td,
.b-table-tbody > tr > td > .b-table-expanded-row-fixed > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td {
  border-bottom: 0;
}
.b-table-tbody > tr > td > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td:first-child,
.b-table-tbody > tr > td > .b-table-expanded-row-fixed > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td:first-child,
.b-table-tbody > tr > td > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td:last-child,
.b-table-tbody > tr > td > .b-table-expanded-row-fixed > .b-table-wrapper:only-child .b-table-tbody > tr:last-child > td:last-child {
  border-radius: 0;
}
.b-table-tbody > tr.b-table-row:hover > td,
.b-table-tbody > tr > td.b-table-cell-row-hover {
  background: #fafafa;
}
.b-table-tbody > tr.b-table-row-selected > td {
  background: #e6f7ff;
  border-color: rgba(0, 0, 0, 0.03);
}
.b-table-tbody > tr.b-table-row-selected:hover > td {
  background: #dcf4ff;
}
.b-table-summary {
  position: relative;
  z-index: 2;
  background: #fff;
}
div.b-table-summary {
  box-shadow: 0 -1px 0 #f0f0f0;
}
.b-table-summary > tr > th,
.b-table-summary > tr > td {
  border-bottom: 1px solid #f0f0f0;
}
.b-table-pagination.b-pagination {
  margin: 16px 0;
}
.b-table-pagination {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
}
.b-table-pagination > * {
  flex: none;
}
.b-table-pagination-left {
  justify-content: flex-start;
}
.b-table-pagination-center {
  justify-content: center;
}
.b-table-pagination-right {
  justify-content: flex-end;
}
.b-table-thead th.b-table-column-has-sorters {
  cursor: pointer;
  transition: all 0.3s;
}
.b-table-thead th.b-table-column-has-sorters:hover {
  background: rgba(0, 0, 0, 0.04);
}
.b-table-thead th.b-table-column-has-sorters:hover::before {
  background-color: transparent !important;
}
.b-table-thead th.b-table-column-has-sorters.b-table-cell-fix-left:hover,
.b-table-thead th.b-table-column-has-sorters.b-table-cell-fix-right:hover {
  background: #f5f5f5;
}
.b-table-thead th.b-table-column-sort {
  background: #f5f5f5;
}
.b-table-thead th.b-table-column-sort::before {
  background-color: transparent !important;
}
td.b-table-column-sort {
  background: #fafafa;
}
.b-table-column-title {
  position: relative;
  z-index: 1;
  flex: 1;
}
.b-table-column-sorters {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
}
.b-table-column-sorters::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.b-table-column-sorter {
  margin-left: 4px;
  color: #bfbfbf;
  font-size: 0;
  transition: color 0.3s;
}
.b-table-column-sorter-inner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.b-table-column-sorter-up,
.b-table-column-sorter-down {
  font-size: 11px;
}
.b-table-column-sorter-up.active,
.b-table-column-sorter-down.active {
  color: #1890ff;
}
.b-table-column-sorter-up + .b-table-column-sorter-down {
  margin-top: -0.3em;
}
.b-table-column-sorters:hover .b-table-column-sorter {
  color: #a6a6a6;
}
.b-table-filter-column {
  display: flex;
  justify-content: space-between;
}
.b-table-filter-trigger {
  position: relative;
  display: flex;
  align-items: center;
  margin: -4px -8px -4px 4px;
  padding: 0 4px;
  color: #bfbfbf;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.b-table-filter-trigger:hover {
  color: rgba(0, 0, 0, 0.45);
  background: rgba(0, 0, 0, 0.04);
}
.b-table-filter-trigger.active {
  color: #1890ff;
}
.b-table-filter-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  min-width: 120px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.b-table-filter-dropdown .b-dropdown-menu {
  max-height: 264px;
  overflow-x: hidden;
  border: 0;
  box-shadow: none;
}
.b-table-filter-dropdown .b-dropdown-menu:empty::after {
  display: block;
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  text-align: center;
  content: 'Not Found';
}
.b-table-filter-dropdown-tree {
  padding: 8px 8px 0;
}
.b-table-filter-dropdown-tree .b-tree-treenode .b-tree-node-content-wrapper:hover {
  background-color: #f5f5f5;
}
.b-table-filter-dropdown-tree .b-tree-treenode-checkbox-checked .b-tree-node-content-wrapper,
.b-table-filter-dropdown-tree .b-tree-treenode-checkbox-checked .b-tree-node-content-wrapper:hover {
  background-color: #bae7ff;
}
.b-table-filter-dropdown-search {
  padding: 8px;
  border-bottom: 1px #f0f0f0 solid;
}
.b-table-filter-dropdown-search-input input {
  min-width: 140px;
}
.b-table-filter-dropdown-search-input .anticon {
  color: rgba(0, 0, 0, 0.25);
}
.b-table-filter-dropdown-checkall {
  width: 100%;
  margin-bottom: 4px;
  margin-left: 4px;
}
.b-table-filter-dropdown-submenu > ul {
  max-height: calc(100vh - 130px);
  overflow-x: hidden;
  overflow-y: auto;
}
.b-table-filter-dropdown .b-checkbox-wrapper + span,
.b-table-filter-dropdown-submenu .b-checkbox-wrapper + span {
  padding-left: 8px;
}
.b-table-filter-dropdown-btns {
  display: flex;
  justify-content: space-between;
  padding: 7px 8px;
  overflow: hidden;
  background-color: inherit;
  border-top: 1px solid #f0f0f0;
}
.b-table-selection-col {
  width: 32px;
}
.b-table-bordered .b-table-selection-col {
  width: 50px;
}
table tr th.b-table-selection-column,
table tr td.b-table-selection-column {
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
}
table tr th.b-table-selection-column .b-radio-wrapper,
table tr td.b-table-selection-column .b-radio-wrapper {
  margin-right: 0;
}
table tr th.b-table-selection-column.b-table-cell-fix-left {
  z-index: 3;
}
table tr th.b-table-selection-column::after {
  background-color: transparent !important;
}
.b-table-selection {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.b-table-selection-extra {
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-margin-start: 100%;
          margin-inline-start: 100%;
  -webkit-padding-start: 4px;
          padding-inline-start: 4px;
}
.b-table-selection-extra .anticon {
  color: #bfbfbf;
  font-size: 10px;
}
.b-table-selection-extra .anticon:hover {
  color: #a6a6a6;
}
.b-table-expand-icon-col {
  width: 48px;
}
.b-table-row-expand-icon-cell {
  text-align: center;
}
.b-table-row-indent {
  float: left;
  height: 1px;
}
.b-table-row-expand-icon {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  display: inline-flex;
  float: left;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  padding: 0;
  color: inherit;
  line-height: 17px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  outline: none;
  transform: scale(0.94117647);
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.b-table-row-expand-icon:focus,
.b-table-row-expand-icon:hover {
  color: #40a9ff;
}
.b-table-row-expand-icon:active {
  color: #096dd9;
}
.b-table-row-expand-icon:focus,
.b-table-row-expand-icon:hover,
.b-table-row-expand-icon:active {
  border-color: currentcolor;
}
.b-table-row-expand-icon::before,
.b-table-row-expand-icon::after {
  position: absolute;
  background: currentcolor;
  transition: transform 0.3s ease-out;
  content: '';
}
.b-table-row-expand-icon::before {
  top: 7px;
  right: 3px;
  left: 3px;
  height: 1px;
}
.b-table-row-expand-icon::after {
  top: 3px;
  bottom: 3px;
  left: 7px;
  width: 1px;
  transform: rotate(90deg);
}
.b-table-row-expand-icon-collapsed::before {
  transform: rotate(-180deg);
}
.b-table-row-expand-icon-collapsed::after {
  transform: rotate(0deg);
}
.b-table-row-expand-icon-spaced {
  background: transparent;
  border: 0;
  visibility: hidden;
}
.b-table-row-expand-icon-spaced::before,
.b-table-row-expand-icon-spaced::after {
  display: none;
  content: none;
}
.b-table-row-indent + .b-table-row-expand-icon {
  margin-top: 2.5005px;
  margin-right: 8px;
}
tr.b-table-expanded-row > td,
tr.b-table-expanded-row:hover > td {
  background: #fbfbfb;
}
tr.b-table-expanded-row .b-descriptions-view {
  display: flex;
}
tr.b-table-expanded-row .b-descriptions-view table {
  flex: auto;
  width: auto;
}
.b-table .b-table-expanded-row-fixed {
  position: relative;
  margin: -16px -16px;
  padding: 16px 16px;
}
.b-table-tbody > tr.b-table-placeholder {
  text-align: center;
}
.b-table-empty .b-table-tbody > tr.b-table-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.b-table-tbody > tr.b-table-placeholder:hover > td {
  background: #fff;
}
.b-table-cell-fix-left,
.b-table-cell-fix-right {
  position: sticky !important;
  z-index: 2;
  background: #fff;
}
.b-table-cell-fix-left-first::after,
.b-table-cell-fix-left-last::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
}
.b-table-cell-fix-right-first::after,
.b-table-cell-fix-right-last::after {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
}
.b-table .b-table-container::before,
.b-table .b-table-container::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 30px;
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
}
.b-table .b-table-container::before {
  left: 0;
}
.b-table .b-table-container::after {
  right: 0;
}
.b-table-ping-left:not(.b-table-has-fix-left) .b-table-container {
  position: relative;
}
.b-table-ping-left:not(.b-table-has-fix-left) .b-table-container::before {
  box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
}
.b-table-ping-left .b-table-cell-fix-left-first::after,
.b-table-ping-left .b-table-cell-fix-left-last::after {
  box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
}
.b-table-ping-left .b-table-cell-fix-left-last::before {
  background-color: transparent !important;
}
.b-table-ping-right:not(.b-table-has-fix-right) .b-table-container {
  position: relative;
}
.b-table-ping-right:not(.b-table-has-fix-right) .b-table-container::after {
  box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
}
.b-table-ping-right .b-table-cell-fix-right-first::after,
.b-table-ping-right .b-table-cell-fix-right-last::after {
  box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
}
.b-table-sticky-holder {
  position: sticky;
  z-index: calc(2 + 1);
  background: #fff;
}
.b-table-sticky-scroll {
  position: sticky;
  bottom: 0;
  z-index: calc(2 + 1);
  display: flex;
  align-items: center;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;
  opacity: 0.6;
}
.b-table-sticky-scroll:hover {
  transform-origin: center bottom;
}
.b-table-sticky-scroll-bar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}
.b-table-sticky-scroll-bar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.b-table-sticky-scroll-bar-active {
  background-color: rgba(0, 0, 0, 0.8);
}
@media all and (-ms-high-contrast: none) {
  .b-table-ping-left .b-table-cell-fix-left-last::after {
    box-shadow: none !important;
  }
  .b-table-ping-right .b-table-cell-fix-right-first::after {
    box-shadow: none !important;
  }
}
.b-table {
  /* title + table */
  /* table */
  /* table + footer */
}
.b-table-title {
  border-radius: 2px 2px 0 0;
}
.b-table-title + .b-table-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b-table-title + .b-table-container table > thead > tr:first-child th:first-child {
  border-radius: 0;
}
.b-table-title + .b-table-container table > thead > tr:first-child th:last-child {
  border-radius: 0;
}
.b-table-container {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.b-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 2px;
}
.b-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 2px;
}
.b-table-footer {
  border-radius: 0 0 2px 2px;
}
.b-table-wrapper-rtl {
  direction: rtl;
}
.b-table-rtl {
  direction: rtl;
}
.b-table-wrapper-rtl .b-table table {
  text-align: right;
}
.b-table-wrapper-rtl .b-table-thead > tr > th[colspan]:not([colspan='1']) {
  text-align: center;
}
.b-table-wrapper-rtl .b-table-thead > tr > th:not(:last-child):not(.b-table-selection-column):not(.b-table-row-expand-icon-cell):not([colspan])::before {
  right: auto;
  left: 0;
}
.b-table-wrapper-rtl .b-table-thead > tr > th {
  text-align: right;
}
.b-table-tbody > tr .b-table-wrapper:only-child .b-table.b-table-rtl {
  margin: -16px 33px -16px -16px;
}
.b-table-wrapper.b-table-wrapper-rtl .b-table-pagination-left {
  justify-content: flex-end;
}
.b-table-wrapper.b-table-wrapper-rtl .b-table-pagination-right {
  justify-content: flex-start;
}
.b-table-wrapper-rtl .b-table-column-sorter {
  margin-right: 4px;
  margin-left: 0;
}
.b-table-wrapper-rtl .b-table-filter-column-title {
  padding: 16px 16px 16px 2.3em;
}
.b-table-rtl .b-table-thead tr th.b-table-column-has-sorters .b-table-filter-column-title {
  padding: 0 0 0 2.3em;
}
.b-table-wrapper-rtl .b-table-filter-trigger {
  margin: -4px 4px -4px -8px;
}
.b-dropdown-rtl .b-table-filter-dropdown .b-checkbox-wrapper + span,
.b-dropdown-rtl .b-table-filter-dropdown-submenu .b-checkbox-wrapper + span,
.b-dropdown-menu-submenu-rtl.b-table-filter-dropdown .b-checkbox-wrapper + span,
.b-dropdown-menu-submenu-rtl.b-table-filter-dropdown-submenu .b-checkbox-wrapper + span {
  padding-right: 8px;
  padding-left: 0;
}
.b-table-wrapper-rtl .b-table-selection {
  text-align: center;
}
.b-table-wrapper-rtl .b-table-row-indent {
  float: right;
}
.b-table-wrapper-rtl .b-table-row-expand-icon {
  float: right;
}
.b-table-wrapper-rtl .b-table-row-indent + .b-table-row-expand-icon {
  margin-right: 0;
  margin-left: 8px;
}
.b-table-wrapper-rtl .b-table-row-expand-icon::after {
  transform: rotate(-90deg);
}
.b-table-wrapper-rtl .b-table-row-expand-icon-collapsed::before {
  transform: rotate(180deg);
}
.b-table-wrapper-rtl .b-table-row-expand-icon-collapsed::after {
  transform: rotate(0deg);
}
