@import './base.css';
@import "./scrollbar.css";
@import "./sidebar.css";
@import "./header.css";

.app-layout {
    min-height: 100vh;
}
.app-pages {
    margin-left: 200px;
}
.app-pages.collapsed {
    margin-left: 80px;
}

