/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.b-page-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  padding: 16px 24px;
  background-color: #fff;
}
.b-page-header-ghost {
  background-color: inherit;
}
.b-page-header.has-breadcrumb {
  padding-top: 12px;
}
.b-page-header.has-footer {
  padding-bottom: 0;
}
.b-page-header-back {
  margin-right: 16px;
  font-size: 16px;
  line-height: 1;
}
.b-page-header-back-button {
  color: #1890ff;
  text-decoration: none;
  outline: none;
  transition: color 0.3s;
  color: #000;
  cursor: pointer;
}
.b-page-header-back-button:focus,
.b-page-header-back-button:hover {
  color: #40a9ff;
}
.b-page-header-back-button:active {
  color: #096dd9;
}
.b-page-header .b-divider-vertical {
  height: 14px;
  margin: 0 12px;
  vertical-align: middle;
}
.b-breadcrumb + .b-page-header-heading {
  margin-top: 8px;
}
.b-page-header-heading {
  display: flex;
  justify-content: space-between;
}
.b-page-header-heading-left {
  display: flex;
  align-items: center;
  margin: 4px 0;
  overflow: hidden;
}
.b-page-header-heading-title {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b-page-header-heading .b-avatar {
  margin-right: 12px;
}
.b-page-header-heading-sub-title {
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b-page-header-heading-extra {
  margin: 4px 0;
  white-space: nowrap;
}
.b-page-header-heading-extra > * {
  margin-left: 12px;
  white-space: unset;
}
.b-page-header-heading-extra > *:first-child {
  margin-left: 0;
}
.b-page-header-content {
  padding-top: 12px;
}
.b-page-header-footer {
  margin-top: 16px;
}
.b-page-header-footer .b-tabs > .b-tabs-nav {
  margin: 0;
}
.b-page-header-footer .b-tabs > .b-tabs-nav::before {
  border: none;
}
.b-page-header-footer .b-tabs .b-tabs-tab {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
.b-page-header-compact .b-page-header-heading {
  flex-wrap: wrap;
}
.b-page-header-rtl {
  direction: rtl;
}
.b-page-header-rtl .b-page-header-back {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.b-page-header-rtl .b-page-header-heading-title {
  margin-right: 0;
  margin-left: 12px;
}
.b-page-header-rtl .b-page-header-heading .b-avatar {
  margin-right: 0;
  margin-left: 12px;
}
.b-page-header-rtl .b-page-header-heading-sub-title {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}
.b-page-header-rtl .b-page-header-heading-tags {
  float: right;
}
.b-page-header-rtl .b-page-header-heading-extra {
  float: left;
}
.b-page-header-rtl .b-page-header-heading-extra > * {
  margin-right: 12px;
  margin-left: 0;
}
.b-page-header-rtl .b-page-header-heading-extra > *:first-child {
  margin-right: 0;
}
.b-page-header-rtl .b-page-header-footer .b-tabs-bar .b-tabs-nav {
  float: right;
}
