/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.b-notification {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  z-index: 1010;
  margin-right: 24px;
}
.b-notification-topLeft,
.b-notification-bottomLeft {
  margin-right: 0;
  margin-left: 24px;
}
.b-notification-topLeft .b-notification-fade-enter.b-notification-fade-enter-active,
.b-notification-bottomLeft .b-notification-fade-enter.b-notification-fade-enter-active,
.b-notification-topLeft .b-notification-fade-appear.b-notification-fade-appear-active,
.b-notification-bottomLeft .b-notification-fade-appear.b-notification-fade-appear-active {
  animation-name: NotificationLeftFadeIn;
}
.b-notification-close-icon {
  font-size: 14px;
  cursor: pointer;
}
.b-notification-hook-holder {
  position: relative;
}
.b-notification-notice {
  position: relative;
  width: 384px;
  max-width: calc(100vw - 24px * 2);
  margin-bottom: 16px;
  margin-left: auto;
  padding: 16px 24px;
  overflow: hidden;
  line-height: 1.5715;
  word-wrap: break-word;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.b-notification-topLeft .b-notification-notice,
.b-notification-bottomLeft .b-notification-notice {
  margin-right: auto;
  margin-left: 0;
}
.b-notification-notice-message {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
.b-notification-notice-message-single-line-auto-margin {
  display: block;
  width: calc(384px - 24px * 2 - 24px - 48px - 100%);
  max-width: 4px;
  background-color: transparent;
  pointer-events: none;
}
.b-notification-notice-message-single-line-auto-margin::before {
  display: block;
  content: '';
}
.b-notification-notice-description {
  font-size: 14px;
}
.b-notification-notice-closable .b-notification-notice-message {
  padding-right: 24px;
}
.b-notification-notice-with-icon .b-notification-notice-message {
  margin-bottom: 4px;
  margin-left: 48px;
  font-size: 16px;
}
.b-notification-notice-with-icon .b-notification-notice-description {
  margin-left: 48px;
  font-size: 14px;
}
.b-notification-notice-icon {
  position: absolute;
  margin-left: 4px;
  font-size: 24px;
  line-height: 24px;
}
.anticon.b-notification-notice-icon-success {
  color: #52c41a;
}
.anticon.b-notification-notice-icon-info {
  color: #1890ff;
}
.anticon.b-notification-notice-icon-warning {
  color: #faad14;
}
.anticon.b-notification-notice-icon-error {
  color: #ff4d4f;
}
.b-notification-notice-close {
  position: absolute;
  top: 16px;
  right: 22px;
  color: rgba(0, 0, 0, 0.45);
  outline: none;
}
.b-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}
.b-notification-notice-btn {
  float: right;
  margin-top: 16px;
}
.b-notification .notification-fade-effect {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
}
.b-notification-fade-enter,
.b-notification-fade-appear {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
  opacity: 0;
  animation-play-state: paused;
}
.b-notification-fade-leave {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-play-state: paused;
}
.b-notification-fade-enter.b-notification-fade-enter-active,
.b-notification-fade-appear.b-notification-fade-appear-active {
  animation-name: NotificationFadeIn;
  animation-play-state: running;
}
.b-notification-fade-leave.b-notification-fade-leave-active {
  animation-name: NotificationFadeOut;
  animation-play-state: running;
}
@keyframes NotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
.b-notification-rtl {
  direction: rtl;
}
.b-notification-rtl .b-notification-notice-closable .b-notification-notice-message {
  padding-right: 0;
  padding-left: 24px;
}
.b-notification-rtl .b-notification-notice-with-icon .b-notification-notice-message {
  margin-right: 48px;
  margin-left: 0;
}
.b-notification-rtl .b-notification-notice-with-icon .b-notification-notice-description {
  margin-right: 48px;
  margin-left: 0;
}
.b-notification-rtl .b-notification-notice-icon {
  margin-right: 4px;
  margin-left: 0;
}
.b-notification-rtl .b-notification-notice-close {
  right: auto;
  left: 22px;
}
.b-notification-rtl .b-notification-notice-btn {
  float: left;
}
