/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.b-steps {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: flex;
  width: 100%;
  font-size: 0;
  text-align: initial;
}
.b-steps-item {
  position: relative;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  vertical-align: top;
}
.b-steps-item-container {
  outline: none;
}
.b-steps-item:last-child {
  flex: none;
}
.b-steps-item:last-child > .b-steps-item-container > .b-steps-item-tail,
.b-steps-item:last-child > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  display: none;
}
.b-steps-item-icon,
.b-steps-item-content {
  display: inline-block;
  vertical-align: top;
}
.b-steps-item-icon {
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 32px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  transition: background-color 0.3s, border-color 0.3s;
}
.b-steps-item-icon .b-steps-icon {
  position: relative;
  top: -0.5px;
  color: #1890ff;
  line-height: 1;
}
.b-steps-item-tail {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  padding: 0 10px;
}
.b-steps-item-tail::after {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #f0f0f0;
  border-radius: 1px;
  transition: background 0.3s;
  content: '';
}
.b-steps-item-title {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 32px;
}
.b-steps-item-title::after {
  position: absolute;
  top: 16px;
  left: 100%;
  display: block;
  width: 9999px;
  height: 1px;
  background: #f0f0f0;
  content: '';
}
.b-steps-item-subtitle {
  display: inline;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: normal;
  font-size: 14px;
}
.b-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.b-steps-item-wait .b-steps-item-icon {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
}
.b-steps-item-wait .b-steps-item-icon > .b-steps-icon {
  color: rgba(0, 0, 0, 0.25);
}
.b-steps-item-wait .b-steps-item-icon > .b-steps-icon .b-steps-icon-dot {
  background: rgba(0, 0, 0, 0.25);
}
.b-steps-item-wait > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
}
.b-steps-item-wait > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  background-color: #f0f0f0;
}
.b-steps-item-wait > .b-steps-item-container > .b-steps-item-content > .b-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.b-steps-item-wait > .b-steps-item-container > .b-steps-item-tail::after {
  background-color: #f0f0f0;
}
.b-steps-item-process .b-steps-item-icon {
  background-color: #fff;
  border-color: #1890ff;
}
.b-steps-item-process .b-steps-item-icon > .b-steps-icon {
  color: #1890ff;
}
.b-steps-item-process .b-steps-item-icon > .b-steps-icon .b-steps-icon-dot {
  background: #1890ff;
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title {
  color: rgba(0, 0, 0, 0.85);
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  background-color: #f0f0f0;
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-content > .b-steps-item-description {
  color: rgba(0, 0, 0, 0.85);
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-tail::after {
  background-color: #f0f0f0;
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-icon {
  background: #1890ff;
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-icon .b-steps-icon {
  color: #fff;
}
.b-steps-item-process > .b-steps-item-container > .b-steps-item-title {
  font-weight: 500;
}
.b-steps-item-finish .b-steps-item-icon {
  background-color: #fff;
  border-color: #1890ff;
}
.b-steps-item-finish .b-steps-item-icon > .b-steps-icon {
  color: #1890ff;
}
.b-steps-item-finish .b-steps-item-icon > .b-steps-icon .b-steps-icon-dot {
  background: #1890ff;
}
.b-steps-item-finish > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title {
  color: rgba(0, 0, 0, 0.85);
}
.b-steps-item-finish > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  background-color: #1890ff;
}
.b-steps-item-finish > .b-steps-item-container > .b-steps-item-content > .b-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.b-steps-item-finish > .b-steps-item-container > .b-steps-item-tail::after {
  background-color: #1890ff;
}
.b-steps-item-error .b-steps-item-icon {
  background-color: #fff;
  border-color: #ff4d4f;
}
.b-steps-item-error .b-steps-item-icon > .b-steps-icon {
  color: #ff4d4f;
}
.b-steps-item-error .b-steps-item-icon > .b-steps-icon .b-steps-icon-dot {
  background: #ff4d4f;
}
.b-steps-item-error > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title {
  color: #ff4d4f;
}
.b-steps-item-error > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  background-color: #f0f0f0;
}
.b-steps-item-error > .b-steps-item-container > .b-steps-item-content > .b-steps-item-description {
  color: #ff4d4f;
}
.b-steps-item-error > .b-steps-item-container > .b-steps-item-tail::after {
  background-color: #f0f0f0;
}
.b-steps-item.b-steps-next-error .b-steps-item-title::after {
  background: #ff4d4f;
}
.b-steps-item-disabled {
  cursor: not-allowed;
}
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button'] {
  cursor: pointer;
}
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button'] .b-steps-item-title,
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button'] .b-steps-item-subtitle,
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button'] .b-steps-item-description,
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button'] .b-steps-item-icon .b-steps-icon {
  transition: color 0.3s;
}
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button']:hover .b-steps-item-title,
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button']:hover .b-steps-item-subtitle,
.b-steps .b-steps-item:not(.b-steps-item-active) > .b-steps-item-container[role='button']:hover .b-steps-item-description {
  color: #1890ff;
}
.b-steps .b-steps-item:not(.b-steps-item-active):not(.b-steps-item-process) > .b-steps-item-container[role='button']:hover .b-steps-item-icon {
  border-color: #1890ff;
}
.b-steps .b-steps-item:not(.b-steps-item-active):not(.b-steps-item-process) > .b-steps-item-container[role='button']:hover .b-steps-item-icon .b-steps-icon {
  color: #1890ff;
}
.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item {
  padding-left: 16px;
  white-space: nowrap;
}
.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:first-child {
  padding-left: 0;
}
.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:last-child .b-steps-item-title {
  padding-right: 0;
}
.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item-tail {
  display: none;
}
.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item-description {
  max-width: 140px;
  white-space: normal;
}
.b-steps-item-custom > .b-steps-item-container > .b-steps-item-icon {
  height: auto;
  background: none;
  border: 0;
}
.b-steps-item-custom > .b-steps-item-container > .b-steps-item-icon > .b-steps-icon {
  top: 0px;
  left: 0.5px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
}
.b-steps-item-custom.b-steps-item-process .b-steps-item-icon > .b-steps-icon {
  color: #1890ff;
}
.b-steps:not(.b-steps-vertical) .b-steps-item-custom .b-steps-item-icon {
  width: auto;
  background: none;
}
.b-steps-small.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item {
  padding-left: 12px;
}
.b-steps-small.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:first-child {
  padding-left: 0;
}
.b-steps-small .b-steps-item-icon {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  border-radius: 24px;
}
.b-steps-small .b-steps-item-title {
  padding-right: 12px;
  font-size: 14px;
  line-height: 24px;
}
.b-steps-small .b-steps-item-title::after {
  top: 12px;
}
.b-steps-small .b-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.b-steps-small .b-steps-item-tail {
  top: 8px;
}
.b-steps-small .b-steps-item-custom .b-steps-item-icon {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background: none;
  border: 0;
  border-radius: 0;
}
.b-steps-small .b-steps-item-custom .b-steps-item-icon > .b-steps-icon {
  font-size: 24px;
  line-height: 24px;
  transform: none;
}
.b-steps-vertical {
  display: flex;
  flex-direction: column;
}
.b-steps-vertical > .b-steps-item {
  display: block;
  flex: 1 0 auto;
  padding-left: 0;
  overflow: visible;
}
.b-steps-vertical > .b-steps-item .b-steps-item-icon {
  float: left;
  margin-right: 16px;
}
.b-steps-vertical > .b-steps-item .b-steps-item-content {
  display: block;
  min-height: 48px;
  overflow: hidden;
}
.b-steps-vertical > .b-steps-item .b-steps-item-title {
  line-height: 32px;
}
.b-steps-vertical > .b-steps-item .b-steps-item-description {
  padding-bottom: 12px;
}
.b-steps-vertical > .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  position: absolute;
  top: 0;
  left: 16px;
  width: 1px;
  height: 100%;
  padding: 38px 0 6px;
}
.b-steps-vertical > .b-steps-item > .b-steps-item-container > .b-steps-item-tail::after {
  width: 1px;
  height: 100%;
}
.b-steps-vertical > .b-steps-item:not(:last-child) > .b-steps-item-container > .b-steps-item-tail {
  display: block;
}
.b-steps-vertical > .b-steps-item > .b-steps-item-container > .b-steps-item-content > .b-steps-item-title::after {
  display: none;
}
.b-steps-vertical.b-steps-small .b-steps-item-container .b-steps-item-tail {
  position: absolute;
  top: 0;
  left: 12px;
  padding: 30px 0 6px;
}
.b-steps-vertical.b-steps-small .b-steps-item-container .b-steps-item-title {
  line-height: 24px;
}
.b-steps-label-vertical .b-steps-item {
  overflow: visible;
}
.b-steps-label-vertical .b-steps-item-tail {
  margin-left: 58px;
  padding: 3.5px 24px;
}
.b-steps-label-vertical .b-steps-item-content {
  display: block;
  width: 116px;
  margin-top: 8px;
  text-align: center;
}
.b-steps-label-vertical .b-steps-item-icon {
  display: inline-block;
  margin-left: 42px;
}
.b-steps-label-vertical .b-steps-item-title {
  padding-right: 0;
  padding-left: 0;
}
.b-steps-label-vertical .b-steps-item-title::after {
  display: none;
}
.b-steps-label-vertical .b-steps-item-subtitle {
  display: block;
  margin-bottom: 4px;
  margin-left: 0;
  line-height: 1.5715;
}
.b-steps-label-vertical.b-steps-small:not(.b-steps-dot) .b-steps-item-icon {
  margin-left: 46px;
}
.b-steps-dot .b-steps-item-title,
.b-steps-dot.b-steps-small .b-steps-item-title {
  line-height: 1.5715;
}
.b-steps-dot .b-steps-item-tail,
.b-steps-dot.b-steps-small .b-steps-item-tail {
  top: 2px;
  width: 100%;
  margin: 0 0 0 70px;
  padding: 0;
}
.b-steps-dot .b-steps-item-tail::after,
.b-steps-dot.b-steps-small .b-steps-item-tail::after {
  width: calc(100% - 20px);
  height: 3px;
  margin-left: 12px;
}
.b-steps-dot .b-steps-item:first-child .b-steps-icon-dot,
.b-steps-dot.b-steps-small .b-steps-item:first-child .b-steps-icon-dot {
  left: 2px;
}
.b-steps-dot .b-steps-item-icon,
.b-steps-dot.b-steps-small .b-steps-item-icon {
  width: 8px;
  height: 8px;
  margin-left: 67px;
  padding-right: 0;
  line-height: 8px;
  background: transparent;
  border: 0;
}
.b-steps-dot .b-steps-item-icon .b-steps-icon-dot,
.b-steps-dot.b-steps-small .b-steps-item-icon .b-steps-icon-dot {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: all 0.3s;
  /* expand hover area */
}
.b-steps-dot .b-steps-item-icon .b-steps-icon-dot::after,
.b-steps-dot.b-steps-small .b-steps-item-icon .b-steps-icon-dot::after {
  position: absolute;
  top: -12px;
  left: -26px;
  width: 60px;
  height: 32px;
  background: rgba(0, 0, 0, 0.001);
  content: '';
}
.b-steps-dot .b-steps-item-content,
.b-steps-dot.b-steps-small .b-steps-item-content {
  width: 140px;
}
.b-steps-dot .b-steps-item-process .b-steps-item-icon,
.b-steps-dot.b-steps-small .b-steps-item-process .b-steps-item-icon {
  position: relative;
  top: -1px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  background: none;
}
.b-steps-dot .b-steps-item-process .b-steps-icon:first-child .b-steps-icon-dot,
.b-steps-dot.b-steps-small .b-steps-item-process .b-steps-icon:first-child .b-steps-icon-dot {
  left: 0;
}
.b-steps-vertical.b-steps-dot .b-steps-item-icon {
  margin-top: 13px;
  margin-left: 0;
  background: none;
}
.b-steps-vertical.b-steps-dot .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  top: 6.5px;
  left: -9px;
  margin: 0;
  padding: 22px 0 4px;
}
.b-steps-vertical.b-steps-dot .b-steps-item:first-child .b-steps-icon-dot {
  left: 0;
}
.b-steps-vertical.b-steps-dot .b-steps-item-content {
  width: inherit;
}
.b-steps-vertical.b-steps-dot .b-steps-item-process .b-steps-item-container .b-steps-item-icon .b-steps-icon-dot {
  top: -1px;
  left: -1px;
}
.b-steps-navigation {
  padding-top: 12px;
}
.b-steps-navigation.b-steps-small .b-steps-item-container {
  margin-left: -12px;
}
.b-steps-navigation .b-steps-item {
  overflow: visible;
  text-align: center;
}
.b-steps-navigation .b-steps-item-container {
  display: inline-block;
  height: 100%;
  margin-left: -16px;
  padding-bottom: 12px;
  text-align: left;
  transition: opacity 0.3s;
}
.b-steps-navigation .b-steps-item-container .b-steps-item-content {
  max-width: auto;
}
.b-steps-navigation .b-steps-item-container .b-steps-item-title {
  max-width: 100%;
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b-steps-navigation .b-steps-item-container .b-steps-item-title::after {
  display: none;
}
.b-steps-navigation .b-steps-item:not(.b-steps-item-active) .b-steps-item-container[role='button'] {
  cursor: pointer;
}
.b-steps-navigation .b-steps-item:not(.b-steps-item-active) .b-steps-item-container[role='button']:hover {
  opacity: 0.85;
}
.b-steps-navigation .b-steps-item:last-child {
  flex: 1;
}
.b-steps-navigation .b-steps-item:last-child::after {
  display: none;
}
.b-steps-navigation .b-steps-item::after {
  position: absolute;
  top: 50%;
  left: 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -14px;
  margin-left: -2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  content: '';
}
.b-steps-navigation .b-steps-item::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #1890ff;
  transition: width 0.3s, left 0.3s;
  transition-timing-function: ease-out;
  content: '';
}
.b-steps-navigation .b-steps-item.b-steps-item-active::before {
  left: 0;
  width: 100%;
}
.b-steps-navigation.b-steps-vertical > .b-steps-item {
  margin-right: 0 !important;
}
.b-steps-navigation.b-steps-vertical > .b-steps-item::before {
  display: none;
}
.b-steps-navigation.b-steps-vertical > .b-steps-item.b-steps-item-active::before {
  top: 0;
  right: 0;
  left: unset;
  display: block;
  width: 3px;
  height: calc(100% - 24px);
}
.b-steps-navigation.b-steps-vertical > .b-steps-item::after {
  position: relative;
  top: -2px;
  left: 50%;
  display: block;
  width: 8px;
  height: 8px;
  margin-bottom: 8px;
  text-align: center;
  transform: rotate(135deg);
}
.b-steps-navigation.b-steps-vertical > .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  visibility: hidden;
}
.b-steps-navigation.b-steps-horizontal > .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  visibility: hidden;
}
.b-steps-rtl {
  direction: rtl;
}
.b-steps.b-steps-rtl .b-steps-item-icon {
  margin-right: 0;
  margin-left: 8px;
}
.b-steps-rtl .b-steps-item-tail {
  right: 0;
  left: auto;
}
.b-steps-rtl .b-steps-item-title {
  padding-right: 0;
  padding-left: 16px;
}
.b-steps-rtl .b-steps-item-title::after {
  right: 100%;
  left: auto;
}
.b-steps-rtl.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item {
  padding-right: 16px;
  padding-left: 0;
}
.b-steps-rtl.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:first-child {
  padding-right: 0;
}
.b-steps-rtl.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:last-child .b-steps-item-title {
  padding-left: 0;
}
.b-steps-rtl .b-steps-item-custom .b-steps-item-icon > .b-steps-icon {
  right: 0.5px;
  left: auto;
}
.b-steps-rtl.b-steps-navigation.b-steps-small .b-steps-item-container {
  margin-right: -12px;
  margin-left: 0;
}
.b-steps-rtl.b-steps-navigation .b-steps-item-container {
  margin-right: -16px;
  margin-left: 0;
  text-align: right;
}
.b-steps-rtl.b-steps-navigation .b-steps-item-container .b-steps-item-title {
  padding-left: 0;
}
.b-steps-rtl.b-steps-navigation .b-steps-item::after {
  right: 100%;
  left: auto;
  margin-right: -2px;
  margin-left: 0;
  transform: rotate(225deg);
}
.b-steps-rtl.b-steps-small.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item {
  padding-right: 12px;
  padding-left: 0;
}
.b-steps-rtl.b-steps-small.b-steps-horizontal:not(.b-steps-label-vertical) .b-steps-item:first-child {
  padding-right: 0;
}
.b-steps-rtl.b-steps-small .b-steps-item-title {
  padding-right: 0;
  padding-left: 12px;
}
.b-steps-rtl.b-steps-vertical > .b-steps-item .b-steps-item-icon {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.b-steps-rtl.b-steps-vertical > .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  right: 16px;
  left: auto;
}
.b-steps-rtl.b-steps-vertical.b-steps-small .b-steps-item-container .b-steps-item-tail {
  right: 12px;
  left: auto;
}
.b-steps-rtl.b-steps-label-vertical .b-steps-item-title {
  padding-left: 0;
}
.b-steps-rtl.b-steps-dot .b-steps-item-tail,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item-tail {
  margin: 0 70px 0 0;
}
.b-steps-rtl.b-steps-dot .b-steps-item-tail::after,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item-tail::after {
  margin-right: 12px;
  margin-left: 0;
}
.b-steps-rtl.b-steps-dot .b-steps-item:first-child .b-steps-icon-dot,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item:first-child .b-steps-icon-dot {
  right: 2px;
  left: auto;
}
.b-steps-rtl.b-steps-dot .b-steps-item-icon,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item-icon {
  margin-right: 67px;
  margin-left: 0;
}
.b-steps-dot .b-steps-item-icon .b-steps-icon-dot,
.b-steps-dot.b-steps-small .b-steps-item-icon .b-steps-icon-dot {
  /* expand hover area */
}
.b-steps-rtl.b-steps-dot .b-steps-item-icon .b-steps-icon-dot,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item-icon .b-steps-icon-dot {
  float: right;
}
.b-steps-rtl.b-steps-dot .b-steps-item-icon .b-steps-icon-dot::after,
.b-steps-rtl.b-steps-dot.b-steps-small .b-steps-item-icon .b-steps-icon-dot::after {
  right: -26px;
  left: auto;
}
.b-steps-rtl.b-steps-vertical.b-steps-dot .b-steps-item-icon {
  margin-right: 0;
  margin-left: 16px;
}
.b-steps-rtl.b-steps-vertical.b-steps-dot .b-steps-item > .b-steps-item-container > .b-steps-item-tail {
  right: -9px;
  left: auto;
}
.b-steps-rtl.b-steps-vertical.b-steps-dot .b-steps-item:first-child .b-steps-icon-dot {
  right: 0;
  left: auto;
}
.b-steps-rtl.b-steps-vertical.b-steps-dot .b-steps-item-process .b-steps-icon-dot {
  right: -2px;
  left: auto;
}
.b-steps-rtl.b-steps-with-progress.b-steps-horizontal.b-steps-label-horizontal .b-steps-item:first-child.b-steps-item-active {
  padding-right: 4px;
}
.b-steps-with-progress .b-steps-item {
  padding-top: 4px;
}
.b-steps-with-progress .b-steps-item .b-steps-item-tail {
  top: 4px !important;
}
.b-steps-with-progress.b-steps-horizontal .b-steps-item:first-child {
  padding-bottom: 4px;
  padding-left: 4px;
}
.b-steps-with-progress .b-steps-item-icon {
  position: relative;
}
.b-steps-with-progress .b-steps-item-icon .b-progress {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
