.app-sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.app-sidebar-inner {
    height: 100vh;
}
.ant-layout-sider-has-trigger > .app-sidebar-inner {
    max-height: calc(100vh - 48px);
}
.logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
}
.app-sidebar-menu-wrap {
    height: calc(100vh - 112px);
    overflow-x: hidden ;
    overflow-y: auto;
}