.app-sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: rgb(125, 108, 108) 4px 0 3px -1px;
}
.app-sidebar-inner {
    height: 100vh;
}
.ant-layout-sider-has-trigger > .app-sidebar-inner {
    max-height: calc(100vh - 48px);
}
.logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
}
.app-sidebar-menu-wrap {
    height: calc(100vh - 112px);
    overflow-x: hidden ;
    overflow-y: auto;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 48px;
    line-height: 48px;
}
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-item:not(:last-child) {

    margin-top: 0;
    margin-bottom: 0;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
    font-size: 20px;
    line-height: 48px;
}

.app-sidebar-menu-wrap::-webkit-scrollbar {
    width: 0;
}